*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


/* CSS HEADER */
header {
    background: linear-gradient(rgba(53, 53, 61, 0.5),rgba(160, 177, 129, 0.5)),url(banner/anhnen.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: auto;
}

/*Contacts*/
div.container {
    overflow: auto;
    width: 100%;
}
div.contacts-left {
    float: left;
    width: 20%;
}
div.contacts-left > ul.social-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}
div.contacts-left > ul.social-links > li {
    min-width: auto;
    text-align: center;
}
div.contacts-left > ul.social-links > li > a {
    text-decoration: none;
    color: rgb(104, 97, 97);
    border-radius: 100%;
    display: block;
    padding: 10px 10px;
}
ul.social-links {
    display: flex;
}
.social-links > li > a.social-rss:hover {
    color: #fff;
    background-color: #2aac55;
}
.social-links > li > a.social-twitch:hover {
    color: #fff;
    background-color: #5c43a1;
}
.social-links > li > a.social-steam:hover {
    color: #fff;
    background-color: #074052;
}
.social-links > li > a.social-facebook:hover {
    color: #fff;
    background-color: #1877f2;
}
.social-links > li > a.social-google-plus:hover {
    color: #fff;
    background-color: #df4a32;
}
.social-links > li > a.social-twitter:hover {
    color: #fff;
    background-color: #00b6f1;
}
.social-links > li > a.social-pinterest:hover {
    color: #fff;
    background-color: #cb2027;
}

div.contacts-right {
    width: 15%;
    margin-left: 85%;
}
.account > a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: gray;
    border-radius: 5px;
}
.sign-up > a:hover {
    color: #077732;
    text-decoration: none;
}
.sign-in > a:hover {
    color: #cb2027;
    text-decoration: none;
}

/*CSS MENU*/
nav.menu-bar {
    position: relative;
    background: linear-gradient(rgba(53, 53, 61, 0.5),rgba(53, 53, 61, 0.5));
    width: 100%;
}
nav.menu-bar:after {
    content: '';
    clear: both;
    display: table;
}
nav.menu-bar .logo {
    float: left;
    color: white;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    margin-left: 40px;
    font-family: fantasy;
}
.fa-gamepad {
    color: tomato;
    margin-right: 10px;
}
nav.menu-bar ul {
    float: right;
    list-style-type: none;
    margin-right: 40px;
    position: relative;
}
nav.menu-bar ul li {
    
    display: inline-block;
    margin: 0 5px;
}
nav.menu-bar ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-weight: 600;
    font-size: 18px;
    padding: 8px 15px;
}
nav.menu-bar ul li a:hover {
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff;
}

nav.menu-bar ul ul.menu-mega {
    background: linear-gradient(rgba(53, 53, 61, 0.5),rgba(53, 53, 61, 0.5));
    position: absolute;
    margin-right: 0;
    margin-left: -380px;
    width: 800px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}
nav.menu-bar ul li:hover > ul.menu-mega {
    top: 70px;
    opacity: 1;
    visibility: visible;
}
nav.menu-bar ul ul ul.menu-mega-in {
    float: left;
    text-transform: uppercase;
}
nav.menu-bar ul ul ul.menu-mega-in li {
    display: block;
    height: 50px;
}
nav.menu-bar ul ul ul.menu-mega-in li a {
    font-size: 20px;
}

/*CSS Node*/
.see,.icon,input.button-menu {
    font-weight: 600;
    font-size: 18px;
    display: none;
}

/* CSS images in CAROUSEL */
div.bar-images {
    margin-top: 10px;
}
div > img{
    margin-left: auto;
    margin-right: auto;
    width: 69%;
}

/* CSS FOOTER */
.footer-area{
    background: #192027;
    padding: 25px;
    margin-top: 30px;
}

footer a{
    color: royalblue;
}

footer a:hover{
    text-decoration: none;
}

.col50{
    width: 50%;
}

p.info-text{
    font-size: 19px;
    color: wheat;
}

div.content{
    overflow: auto;
}

div.content > div{
    float: left;
}

ul {
    list-style-type: none;
}

ul.info-contact > li > span > a{
    text-decoration: none;
}

div.icon-social > a{
    color: rgba(52, 77, 105, 0.808);
}

div.icon-social > a > span.facebook:hover{
    color: #4169e1;
}

div.icon-social > a > span.twitch:hover{
    color: #8a2be2;
}

div.icon-social > a > span.pinterest:hover{
    color: rgb(156, 30, 30);
}

div.icon-social > a > span.steam:hover{
    color: #1137a7;
}

div.icon-social > a > span.google-plus:hover{
    color: #ff6347;
}

div.icon-social > a > span.instagram:hover{
    color: #87cefa;
}

ul.info-contact > li > span > a:hover{
    color: red;
}

table.message{
    width: 85%;
}

input[type=text]{
    width: 100%;
    padding: 5px;
    outline: none;
}
textarea{
    width: 100%;
    padding: 5px;
    height: 50px;
    outline: none;
}

input[type=submit]{
    background-color: orange;
    color:white;
    padding: 10px;
    border: 1px solid orange;
    outline: none;
}

table.message tr:last-child {
    text-align: center;
}

span.info{
    color: burlywood;
}

p#intro{
    font-size: 24px;
    color: burlywood;
}

body.colorfull {
    background-color: rgb(76 84 62);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

/* CSS CONTENT-GAMES */
.games{
    width: 100%;
    padding-right: 15%;
    padding-left: 15%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
}

div.games > div.game{
    position: relative;
    width: 25%;
    padding-top: 30px;
    padding-right: 15px;
    padding-left: 15px
}

div.game > div.info-game > a{
    text-transform: uppercase;
    color: #fff;
}

div.game > div.info-game > a > h3{
    font-size: 20px;
    font-weight: 600;
}

div.game > div.info-game > a:hover{
    text-decoration: none;
    color: #dc143c;
}

div.game > div.info-game > h4{
    color: rgb(153, 147, 147);
    font-size: 16px;
}

div.game > div.info-game > h4:hover{
    cursor: text;
}

div.games > div.game > a > img{
    margin-top: 15px;
    width: 100%;
}

input[type="button"]{
    color: white;
    padding: 5px;
    background-color: rgb(90, 86, 86);
    outline: none;
}

input[type="button"]:hover{
    background-color: #dc143c;
}

div.info-game > div.other > div.date{
    float: right;
    text-align: right;
    margin-top: 5px;
    color: rgb(153, 147, 147);
}

/* CSS GO TOP - MY BUTTON */
#myBtn{
    position: fixed;
    text-align: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #0674ec;
    color: #fff;
    border-radius: 50%;
    right: 3%;
    bottom: 20px;
    outline: none;
    display: none;
    transition: 2s;
}

#myBtn:hover{
    color: white;
    background-color: rgb(177, 14, 109);
}

/*CSS Mobile*/
@media all and (max-width: 968px) {
    /*Mobile Menu*/
    nav.menu-bar ul {
        margin-right: 0px;
        float: left;
    }
    nav .logo {
        padding-left: 30px;
        width: 100%;
    }
    nav.menu-bar ul li {
        display: block;
        width: 100%;
    }
    div.contacts-left {
        float: none;
        display: block;
        width: 100%;
    }
    div.contacts-right {
        margin-left: 0px;
        width: 100%;
    }
    nav.menu-bar ul ul.menu-mega {
        width: 190px;
        margin-left: 150px;
    }
    nav.menu-bar ul li:hover > ul.menu-mega {
        top: 0px;
    }
    /*
    nav.menu-bar > ul > ul.menu-mega {
        position: static;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }*/
    nav.menu-bar ul ul ul.menu-mega-in {
        width: 100%;
    }
    nav.menu-bar ul ul ul.menu-mega-in li {
        height: 20px;
        margin-bottom: 15px;
    }
    nav.menu-bar ul ul ul.menu-mega-in li a {
        font-size: 12px;
    }
    .see {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }
    .see:hover {
        color: cyan;
    }
    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }
    nav.menu-bar ul li a:hover {
        box-shadow: none;
    }
    .see + a,ul.menu-full,ul.menu-mega {
        display: none;
    }
    [id^=btn]:checked + ul {
        display: block;
    }
    /*Mobile Game*/
    div.games > div.game {
        width: 100% !important;
    }
    /*CSS Footer*/
    .footer-area {
        display: none;
    }
}   



